@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.body {
    display: flex;
}

.bg{
    position: absolute;
    background-repeat: no-repeat;
    height: 100vh;
    left: 0%; 
    width: 50%;
    height: 90%;
    top: 5%;
    border-radius: 25px;
}

.menu {
    font-family: "Montserrat" , sans-serif;
    position: flex;
    opacity: 100;
    color: rgba(0, 0, 0, 1);
    font-size: 45.00px;
    margin-left: 50%;
    margin-top: 200px;
}

.text {
    font-family: "Montserrat" , sans-serif;
    position: flex;
    letter-spacing: 0.19px;
    font-size: 19.00px;
    margin-left: 50%;
    margin-top: 20px;
}

.id{
    font-family: "Montserrat" , sans-serif;
    position: flex;
    letter-spacing: 0.19px;
    margin-left: 50%;
    margin-top: 80px;
}

.residentid{
    font-family: "Montserrat" , sans-serif;
    margin-left: 50%;
    margin-top: 20px;
    position: absolute;
    box-sizing: border-box;
    filter: drop-shadow(5px 5px 6px rgba(10, 10, 10, 0.161));
    width: 450px;
    height: 40px;
}

.password{
    font-family: "Montserrat" , sans-serif;
    position: flex;
    letter-spacing: 0.19px;
    margin-left: 50%;
    margin-top: 90px;
}

.residentpass{
    font-family: "Montserrat" , sans-serif;
    margin-left: 50%;
    margin-top: 20px;
    position: absolute;
    box-sizing: border-box;
    filter: drop-shadow(5px 5px 6px rgba(10, 10, 10, 0.161));
    width: 450px;
    height: 40px;
}

.submit{
    font-family: "Montserrat" , sans-serif;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    height: 32px;
    margin-left: 69%;
    margin-top: 90px;
    background-color: #fcc1f2;
    border-style: none;
    border-radius: 25px;
}

.submit:hover{
    background-color: #f7e2f3;
}